<?xml version="1.0"?>
<configuration>
  <extensionImports>
    <add name="Before.CBT.NuGet.props" />
    <add name="After.CBT.NuGet.props" />
    <add name="Before.CBT.NuGet.PackageProperties.props" />
    <add name="After.CBT.NuGet.PackageProperties.props" />
  </extensionImports>
</configuration>
